<div class= "container">
  <div class= "row">
    <div class= "mx-auto col-11 col-sm-10 col-lg-9 col-xl-8">
      <h1 class= "text-center" >About</h1>
      <p class= "text-center">
      シンプルなタスク整理アプリです。<br />
      TODOリストとして活用できるように設計しております。<br />
      また、日付ごとに並び変え機能がついています。<br />
      複数のタスクを管理する際にご活用ください。<br />
      </p>
    </div>
  </div>
</div>