/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";

body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
  }


.top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(https://media.freestocktextures.com/cache/b9/71/b97113e32d32944ef1daad2644f1882d.jpg);
    background-size: cover;
    color: black;
    text-align: center;
  }

  .btn-wrapper {
    margin: 20px 0;
  }

  .btn {
  color: blue;
  }