/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";

body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
  }

section {
  max-width: 300px;
  margin: 0 auto;
}


.top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(https://media.freestocktextures.com/cache/b9/71/b97113e32d32944ef1daad2644f1882d.jpg);
    background-size: cover;
    color: black;
    text-align: center;
  }

  .btn-wrapper {
    margin: 20px 0;
  }

  .btn01 {
  //color: white;
  //border: 1px solid #005e94;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#4fb5ef, #0076b9 100%);
  border: 1px solid #005e94;
  border-radius: 12px;
  box-shadow: inset 0px 0px 2px 0px rgb(255, 255, 255);
  box-shadow: 0px 4px 4px 0px rgb(175, 175, 175);
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 0 70px 0 70px;
  color: #fff;
  font-size: 16px;
  text-align: left;
  text-decoration: none;
  position: relative;
  transition-duration: 0.2s;
  }

  .btn01:hover {
  opacity: .7;
  }

  .btn_01:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 8px;
  border-color: transparent transparent transparent #ffffff;
  position: absolute;
  top: 50%;
  left: 23px;
  margin-top: -7px;
}

.btn_01:after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 100%;
  background-color: #005e94;
  box-shadow: 0px 0px 2px 0px rgb(255, 255, 255);
  position: absolute;
  top: 0;
  left: 50px;
}
